<% include layout %>

<% include title %>

<div class="panel-body"
	data-ng-cloak
	data-ng-app = "productCategoryModule"
	data-ng-controller = "productCategoryController"
><!-- container-->
<% include ErrorValidation %>
<% include Message %>

	<form name="formProductCategory" class="navbar-form navbar-left" method="POST">
	
		<div class="form-group">
			
			<label for="categoryName" > Category Name</label>
			
			<input class="form-control" type="text" 
			placeholder="please enter product category name" 
			ng-model="productCategory.categoryName"
			id="categoryName"
			name="categoryName" 
			required
			/>
	
		</div>
	
		<div class="form-group">
			<label for="categoryDetails">Category Details</label>
			
			<textarea ng-model="productCategory.categoryDetails"
			col="30"
			rows="5"
			name="categoryDetails"
			id="categoryDetails"
			placeholder="Please enter product category details"
			required
			></textarea>
		</div>
	
		<div>
			<button class="btn btn-primary" type="button" data-ng-click="createProductCategory(productCategory)">Create Product Category</button>
			<span class="info"></span>
			<button class="btn btn-primary" type="button" data-ng-click="viewProductCategory()">View Product Category</button>
		</div>
	</form>
</div><!--end container-->
    
    <script src="../bower_components/angular/angular.min.js"></script>
	
	<script src="../../javascripts/app/productCategory/productCategoryModule.js"></script>
    <script src="../../javascripts/app/productCategory/productCategoryService.js"></script>
	<script src="../../javascripts/app/requiredValidationService.js"></script>
	<script src="../../javascripts/app/productCategory/productCategoryController.js"></script>
	
    </body>
	</html>
    
