<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../stylesheets/bootstrap.css" rel="stylesheet" />
    <script src="../../javascripts/jquery-1.10.2.min.js"></script>
    <script src="../../javascripts/bootstrap.min.js"></script>


    <script src="../routes/productCategoryRouteConfig.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>

    <script src="../public/javascripts/app/productCategory/productCategoryController.js"></script>
    <script src="../public/javascripts/app/productCategory/productCategoryModule.js"></script>
    <script src="../public/javascripts/app/productCategory/productCategoryService.js"></script>
</head>
<body>

</body>
</html>